
 *{
    margin:0;
    padding:0;
    font-family: "Gill Sans", sans-serif;
 }
 
 nav{
    width: 100%;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .imbody{
    background-image: url("image/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg");
    background-repeat: no-repeat, repeat;
    background: url("image/168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg") no-repeat fixed center/cover;
    height: 100vh;
  }

.espace{
  margin-left:50px;
  margin-top:300px;
  width:50%;  
}

.para{
  font-size: 500%;
}